NEXT_PUBLIC_API_BASE_URL=https://evergreen-api.nexstack.sg
NEXT_PUBLIC_SITE_URL=http://localhost:3000
HITPAY_API_BASE_URL=https://api.sandbox.hit-pay.com/v1
HITPAY_API_KEY=test_899c9147eab4a10f1cae88072fe4b53c2afc31c1e414abf2a6fb94825645d68d
HITPAY_WEBHOOK_SALT=QLWXkh9774RtmKZ8UWRJdalfFQfoLuI55fF81AzholjKO4NnLuHwxELCi6f80dgF
HITPAY_PAYMENT_METHODS=paynow_online,card


